.body {
    margin: 0;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    text-align: center;
    /* heading 1 */
    font-family: Lora;
    font-size: var(--heading-1);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 39.6px */
}